/* upgrade.component.css */

.upgrade-container {
    text-align: center;
    margin-top: 25px;
  }
  
 
  
  .subtext {
    color:white;
    font-size: 15px;
    position: absolute;
    top: 80px;
    left: 20px;
    width: 300px;

  }
  p{
    position: absolute;
    top: 20px;
    left: 110px;
    font-size: 30px;
  }
  
  .upgrade-button {
    padding: 10px 20px;
    font-size: 20px;
    background-color: white;
    color: black;
    border: none;
    border-radius: 5px;
    position: absolute;
    top: 110px;
    left: 0px;
    cursor: pointer;
    transition: background-color 0.3s;
    width:350px ;
  }
  
  .upgrade-button:hover {
    background-color: #45a049;
  }
  #container{
    width: 350px;
    height: 180px;
    background-color:rgb(53,61,83);
    border-radius: 10%;
    position: absolute;
    left: 200px;
    top: 110px;
  }
  
  #up{
    color: white;
    background-color: rgb(53,61,83);
  }