<div id="body">
<div id="container">
    <h2>Sleep Tracker</h2>
    <button (click)="SleepAlert()">Click to see details</button>


    <h2>Medicine Tracker</h2>
    <button (click)="MedAlert()">Click to see details</button>

    <h2>Hash Wash Tracker</h2>
    <button (click)="HandAlert()">Click to see details</button>

    <h2>Heart Rate Tracker</h2>
    <button (click)="HeartAlert()">Click to see details</button>

    <h2>Respiratory Rate Tracker</h2>
    <button (click)="ResAlert()">Click to see details</button>
</div>
</div>