#container{
    position: absolute;
    top: 200px;
    left: 300px;
   padding-bottom: 50px;
  
}
#body{
    width: 100vw;
    height: 100vh;
    background-image: url(../../../../images/viewall.jfif);
    background-size: cover;
    background-repeat: no-repeat;
  position: absolute;
  top: -20px;
  z-index: -10;

}