#container{
    position: absolute;
    left: 300px;
    top: 200px;
   border:white  solid 2px;

   width: 500px;
   height: 250px;
   text-align: center;
   padding-top: 40px;
   color: white;
   
}
#check{
    position: relative;
    left: 0px;
    top: 20px;
    color: white;
}
#label{
    position: relative;
    left: 0px;
    top: 10px;
    color: white;
}
#alert{
    position: relative;
    left: 0px;
    top: 30px;
    color:white;
}

#body{
    background-image: url(../../../../images/water1.jfif);
    background-size: cover;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: -20px;
    z-index: -12;
}